# Secret for Backblaze B2 storage credentials. This is used for Longhorn backup storage.
# Longhorn expects the secret data to be prepended with AWS_ even though it's for Backblaze/any other S3 compatible storage.
apiVersion: v1
kind: Secret
metadata:
  name: longhorn-b2-secret
  namespace: longhorn-system
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: {{ required "Access Key ID is required" .Values.s3.accessKeyId | quote }}
  AWS_SECRET_ACCESS_KEY: {{ required "Secret Access Key is required" .Values.s3.secretAccessKey | quote }}
  AWS_ENDPOINTS: {{ required "Endpoint is required" .Values.s3.endpoint | quote }}
  AWS_REGION: {{ required "Region is required" .Values.s3.region | quote }}
